/* Generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

i{
    color: #555;
}

.arrow-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    float: left;
    font-size: 1.5rem;
    margin: 0rem 1rem 0;
    position: fixed;
    top: 11rem;
    right: 8rem;
}



.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle {
    background-color: whitesmoke;
    transition: transform 0.6s linear;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: relative;
}
.card-container {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.heading {
    text-align: left;
    margin: 4rem 1rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    text-align: left;
    margin: 0rem 1rem 3rem;
}
h4{
    text-align: left;
    margin: 0rem 1rem 0;
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 50%;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    border-radius: 15px;
}

.container.show-nav {
    transform: rotate(-20deg);
}
.card.active {
    flex: 7;
}
.card.active h3 {
    opacity: 1;
}


/*  cuando la clase .container tiene también la clase .show-nav, entonces apunta a .circle con esta propiedad: */
.container.show-nav .circle {
    transform: rotate(-70deg);
}

/* targetting all the buttons that are present within '.circle' class */

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}
.circle button:focus {
    outline: none;
}
.circle button#open {
    left: 60%;
}

/* targeting button with id 'close' that are present in '.circle' class */
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}
nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}


/* targetting 'li' which is next to 'nav ul il' and applying the required property*/

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    color: #555;
    font-weight: bold;
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}


/*when the 'container' div has 'show-nav' class, then we want to take the direct  'nav' 'li''s after that and target them*/

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3;
}


/* targetting  'button' with id 'close' which are in 'circle' class */

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 0 auto; 
    text-align: center; 
}

.content small {
    color: #fff;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.desc {
    color: gray !important;
    font-size: 20px;
}
@media (max-width: 470px) {
    .container {
        width: 100vw;
    }
    .card {
        margin: 4px;
    }
}
@media (max-width: 600px) {
    .heading {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    .download-link i{
        margin-left: 2rem;
    }
    .arrow-button {
        right: 3rem;
    }
}